- var ss = siteSettings || {}

footer.footer
  .container-fluid
    .footer-content
      .row
        .col-lg-3.col-md-6.footer-column
          .footer-logo
            h3= ss.siteName || 'Tida'
          p.footer-description= ss.siteSlogan || 'Hệ thống mua sắm hiện đại và chuyên nghiệp cho khách hàng của bạn.'
          .footer-social
            if ss.socialFacebook
              a(href=ss.socialFacebook target="_blank" rel="noopener" aria-label="Facebook")
                i.fab.fa-facebook-f
            if ss.socialInstagram
              a(href=ss.socialInstagram target="_blank" rel="noopener" aria-label="Instagram")
                i.fab.fa-instagram
            if ss.socialYouTube
              a(href=ss.socialYouTube target="_blank" rel="noopener" aria-label="YouTube")
                i.fab.fa-youtube
            if ss.socialTikTok
              a(href=ss.socialTikTok target="_blank" rel="noopener" aria-label="TikTok")
                i.fab.fa-tiktok
            if ss.socialZalo
              a(href=ss.socialZalo target="_blank" rel="noopener" aria-label="Zalo")
                i.fas.fa-comment-dots

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Liên kết nhanh
          ul.footer-links
            li
              a(href="/") Trang chủ
            li
              a(href="/products") Sản phẩm
            li
              a(href="/user/login") Tài khoản

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Hỗ trợ
          ul.footer-links
            li
              a(href="#") Trung tâm trợ giúp
            li
              a(href="#") Tài liệu hướng dẫn
            li
              a(href="#") Điều khoản sử dụng
            li
              a(href="#") Chính sách bảo mật

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Liên hệ
          ul.footer-contact
            if ss.address
              li
                i.fas.fa-map-marker-alt
                span= ss.address
            if ss.phone
              li
                i.fas.fa-phone
                span= ss.phone
            if ss.email
              li
                i.fas.fa-envelope
                span= ss.email
            if ss.workingHours
              li
                i.fas.fa-clock
                span= ss.workingHours

    .footer-bottom
      .row
        .col-md-6
          p.footer-copyright © #{new Date().getFullYear()} #{ss.siteName || 'Tida'}. Mọi quyền được bảo lưu.
        .col-md-6
          p.footer-credits Thiết kế với
            i.fas.fa-heart
            |  bởi #{ss.siteName || 'Tida'}
