header.header
  .header__logo
    a(href='/admin/dashboard') TIDA ADMIN

  .header__actions

    a(
      href=`${prefixAdmin}/my-account`
      class="header__btn header__btn--primary"
    ) #{user.fullName}
    form(
      action=`${prefixAdmin}/auth/logout`
      method="POST"
      style="display: inline-block"
    )
      input(type="hidden" name="_csrf" value=csrfToken)
      button(
        type="submit"
        class="header__btn header__btn--danger"
      ) ﾄ斉ハg xu蘯･t
    //- a(
      href=`${prefixAdmin}/auth/logout`
      class="header__btn header__btn--danger"
    //- ) ﾃ㉔静㉘地g xuﾃ｡ﾂｺﾂ･t
    a(
      href=`http://localhost:2701/`
      class="header__btn header__btn--danger"
    ) Trang Client
